--flash NAND
--mtdparts "512k(u-boot),256k(u-boot-env),256k(factory),512k(factory),256k(crash),256k(crash_log),-(firmware)"
--model "Xiaomi_Mi_Router_CR660x"
--kernel-offset 0x200000
--reset-pin 18
--sysled-pin 14
--cpufreq 880
--ramfreq 1200
--ddrparam DDR3-256MiB
--oldparam false
--baudrate 115200
--yes
