--flash NAND
--mtdparts "512k(u-boot),512k(u-boot-env),256k(factory),-(firmware)"
--model "ZTE_E8820S"
--kernel-offset 0x140000
--reset-pin 18
--sysled-pin 16
--cpufreq 880
--ramfreq 1200
--ddrparam DDR3-256MiB
--oldparam false
--baudrate 115200
--yes
